* {
  padding: 1;
  margin: 1;
}
.header {
  background-color: #5D8FA7;
  border-radius: 0.5em;
  box-shadow: 5px 5px #232B28;
  align-items:center;
  justify-content:center
  padding: 1px;
  text-shadow: 1px 2px #DCE1DC;
}
#mainimage img {
  border: 10px double rgb(3, 3, 43);
  border-radius: 10rem;
  box-shadow: 5px 5px #232B28;
  grid-column: 1;
  margin: auto;
  position: absolute;
  width: 100px;
}
#mainimage{
}
#name {
  color: rgb(7, 7, 7);
  font-family: "Cabin Sketch", Helvetica, sans-serif;
  font-size: 4rem;
  grid-column: 2;
  padding: 1px;
  text-align: center;
}
.main {
  color: black;
  display: grid;
  grid-auto-columns: 50% auto;
  list-style-type: none;
  padding: 10px 0px;
}
#menu {
  align-content: center;
  border-radius: 0.3em;
  color: black;
  grid-column: 1;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding: 1px;
  text-align: center;
}
#menu li {
  background-color: #A5B7C1;
  border-radius: 0.5em;
  font-family: 'BioRhyme Expanded', serif;
  font-size: 30px;
  list-style-type: none;
  margin: 5px;
}
ul {
  margin: 0px;
  padding: 0px;
}
#about {
  align-content: center;
  background-color: #A5B7C1;
  border-radius: 0.5em;
  box-shadow: 5px 5px #232B28;
  color: white;
  font-family: 'BioRhyme Expanded', serif;
  font-size: 1rem;
  grid-column: 2;
  margin: 1px;
  padding: 1px;
  text-align: center;
  text-shadow: 10px 5px 10px #000, 3px 5px 3px #5D8FA7;
}
.footer {
  font-family: Comfortaa, Helvetica, sans-serif;
  font-size: 2px;
  text-align: right;
}
#contact li {
  display: inline-flex;
  font-size: 14px;
  list-style-type: none;
  padding: 5px;
}